<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ leg.player }}</h1>
    <h2>Line: {{ leg.line }} pts</h2>
    <h3>Last 5 Hit Rate: {{ hitRate5 }}</h3>
    <h3>Last 10 Hit Rate: {{ hitRate10 }}</h3>
    <h3>Last 20 Hit Rate: {{ hitRate20 }}</h3>
    <h3>Season Hit Rate: {{ hitRateSzn }}</h3>
    {% for pts in leg.last5 %}
    <p>{{ pts }}</p>
    {% endfor %}
    
</body>
</html>